
assets/.DS_Store
assets/media/.DS_Store
assets/media/albums/.DS_Store
assets/media/albums/work/.DS_Store
*.jpeg
*.png
*.jpg 
*.gif
*.pdf
*.zip 
*.yaml
.obsidian/workspace.json
/.DS_Store
config/_default/params.yaml
