/* Custom styles added by Fiona MacNeill in 2025 */

.hbb-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
} 

.bio-text {
    font-size: 1.5rem;
} 

.page-footer {
    padding-bottom: 6rem;
}